@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

$oranje: orange;
.background {
  background-image: url("../images/background.jpg");
  min-height: 1026px;
  background-position: center;
}
